<li class="list-group-item w-100">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-start w-100">
                    <!-- Evergreen project elements (image, tools used) -->
                    <img class="col-12 col-md-4" src="assets/images/{{ image-name }}" alt="{{ image-alt }}">

                    <div class="d-flex flex-column p-2">
                        <h3 class="display-3">{{ title }}</h3>
                        <p class="lead ps-2">{{ technologies }}</p>
                        <div class="collapse" id="project-description-1">
                            <!-- Collapsible project elements -->
                            <p>{{ long-description }}</p>
                            <div class="d-flex justify-content-start">
                                <a href="{{ deployed-link }}" class="btn btn-light me-2" target="_blank">Live Site</a>
                                <a href="{{ github-link }}" class="btn btn-light" target="_blank">Github</a>
                            </div>
                        </div>
                    </div>

                    <a class="btn ms-0 ms-lg-auto" type="button" data-bs-toggle="collapse" data-bs-target="#project-description-1" aria-expanded="false" aria-controls="project-description-1">
                        <i class="bi bi-chevron-down"></i>
                    </a>
                </div>
            </li>